<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Characteristics" value="BasinParameters.py" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Delineation" value="Delineation.py" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Shape" value="ToSHP.py"/>
    <add key="Flowstats" value="FlowStatistics.py" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Features" value="Features.py" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EditWatershed" value="EditWatershed.py" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="SSXMLRepository" value="D:\ss_apps\XML" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SSCapabilityRepository" value="D:\ss_socs\ss_gp" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EXEPath" value="C:\Python27\ArcGIS10.3\python.exe" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--List of available drives; Note First drive is default-->
    <add key="UNCDrives" value="D:\, E:\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SSRepository" value="gistemp\ClientData" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="SSHostServer" value="http://streamstats09.cr.usgs.gov/arcgis/rest/services/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SSStateService" value="ss_studyAreas_dev/MapServer/3/query?geometry={{x:{0},y:{1}}}&amp;geometryType=esriGeometryPoint&amp;inSR={2}&amp;spatialRel=esriSpatialRelIntersects&amp;outFields={3}&amp;returnGeometry=false&amp;f=pjson" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="exludedcodes" value="DRB,CRB" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="SSDBConnectionString" value="Server=localhost;Port=5432;User Id=ss_user;Password={0};Database=globalsde;" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>