<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Characteristics" value="BasinParametersTest.py"/>
    <add key="Delineation" value="DelineationTest.py"/>
    <add key="Shape" value="ToSHP.py"/>
    <add key="Flowstats" value="FlowStatisticsTest.py"/>
    <add key="Features" value="FeaturesTest.py"/>
    <add key="EditWatershed" value="EditWatershed.py"/>
    
    <add key="SSXMLRepository" value="D:\ss_apps\XML"/>
    <add key="SSCapabilityRepository" value="C:\WIM"/>    
    <add key="EXEPath" value="C:\Python27\ArcGISx6410.2\python.exe"/>
      <!--List of available drives; Note First drive is default-->
    <add key="UNCDrives" value="D:\,C:\"/>
    <add key="SSRepository" value="gistemp\ClientData"/>
    
    <add key="SSHostServer" value="http://streamstats09.cr.usgs.gov/arcgis/rest/services/"/>
    <add key="SSStateService" value="ss_studyAreas_dev/MapServer/3/query?geometry={{x:{0},y:{1}}}&amp;geometryType=esriGeometryPoint&amp;inSR={2}&amp;spatialRel=esriSpatialRelIntersects&amp;outFields={3}&amp;returnGeometry=false&amp;f=pjson"/>
    
    <add key="WaterUseServer" value="http://54.164.188.167:6080/arcgis/rest/services/"/>
    <add key="WaterUseService" value="WaterUse/{0}/MapServer/exts/WaterUseSOE/WaterUse?token={1}"/>
    <add key="WaterUseToken" value="PY81-2iwF3EahbF-sEiav6djOwm2TFcOE2p9ZIH5Z9ZGP2IJ0YDhGnqJvAy_c16Ylktjv8rxUPNLZC1JKZRjGIfTkSXgMQVxNypzPUJVu03oV6BnCBsJwnUDDYiBgvQoDcSv7zH_hQPmXxpRXstTIm-BBfVJ89imoM51fLlHyUXANXB8mqNch4OXxdvzgik7"/>
    <add key="WaterUseRegions" value="{OH:{name:'OHWU',syear:2005,eyear:2012},DRB:{name:'DRBWU',syear:2005,eyear:null}}"/> 
    
    <add key="exludedcodes" value="DRB,CRB"/> 
    
    <add key="SSDBConnectionString" value="Server=136.177.100.147;Port=5432;User Id=**userName**;Password={0};Database=globalsde;"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime executionTimeout="500" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="None"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages pageParserFilterType="OpenRasta.Codecs.WebForms.OpenRastaPageParserFilter, OpenRasta.Codecs.WebForms" controlRenderingCompatibilityVersion="3.5"
      clientIDMode="AutoID">
      <namespaces>
        <add namespace="OpenRasta.Web"/>
        <add namespace="OpenRasta.Web.Markup"/>
        <add namespace="OpenRasta.Codecs.WebForms"/>
        <add namespace="OpenRasta"/>
        <add namespace="System.ServiceModel.Syndication"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.rastahook" type="OpenRasta.Hosting.AspNet.OpenRastaHandler, OpenRasta.Hosting.AspNet"/>
    </httpHandlers>
    <httpModules>
      <add name="OpenRastaModule" type="OpenRasta.Hosting.AspNet.OpenRastaModule, OpenRasta.Hosting.AspNet"/>
    </httpModules>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <defaultDocument enabled="true">
      <!-- this line enables default documents for a directory -->
      <files>
        <clear />
        <!-- removes the existing default document list -->
        <add value="index.html" />
        <!-- foo.htm is now the default document  -->
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--Required for openRasta-->
    <modules>
      <add name="OpenRastaModule" type="OpenRasta.Hosting.AspNet.OpenRastaModule, OpenRasta.Hosting.AspNet"/>
    </modules>
    <handlers>
      <add name="OpenRastaHandler" verb="*" path="*.rastahook"
        type="OpenRasta.Hosting.AspNet.OpenRastaHandler, OpenRasta.Hosting.AspNet, Version=2.0.0.0, Culture=neutral"/>
    </handlers>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="fonts/font-woff2" />
    </staticContent>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="openrasta" switchName="OpenRasta">
        <listeners>
          <add name="ErrorEventLog"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="OpenRasta" value="All"/>
    </switches>
    <sharedListeners>
      <add name="ErrorEventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="Application"/>
    </sharedListeners>
  </system.diagnostics>

</configuration>