<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>    
    <add key="Characteristics" value="BasinParametersTest.py"/>
    <add key="Delineation" value="DelineationTest.py"/>
    <add key="Shape" value="ToSHP.py"/>
    <add key="Flowstats" value="FlowStatistics.py"/>
    
    <add key="SSHostServer" value="http://ssdev.cr.usgs.gov/arcgis/rest/services/"/>
    <add key="SSStateService" value="ss_states_dev/MapServer/3/query?geometry={{x:{0},y:{1}}}&amp;geometryType=esriGeometryPoint&amp;inSR={2}&amp;spatialRel=esriSpatialRelIntersects&amp;outFields={3}&amp;returnGeometry=false&amp;f=pjson"/>
    <add key="exludedcodes" value="DRB,CRB"/>
    
    <add key="SSXMLRepository" value="D:\ss_apps\XML" />
    <!--<add key="SSCapabilityRepository" value="D:\ss_socs\ss_gp" />-->
    <add key="SSCapabilityRepository" value="C:\WIM" />
    <add key="SSRepository" value="D:\gistemp\ClientData"/>
    <add key="EXEPath" value="C:\Python27\ArcGISx6410.1\python.exe"/>
    <add key="SSDBConnectionString" value="Server=136.177.100.147;Port=5432;User Id=***REMOVED***;Password={0};Database=globalsde;"/>
  </appSettings>

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="None"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages pageParserFilterType="OpenRasta.Codecs.WebForms.OpenRastaPageParserFilter, OpenRasta.Codecs.WebForms" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="OpenRasta.Web"/>
        <add namespace="OpenRasta.Web.Markup"/>
        <add namespace="OpenRasta.Codecs.WebForms"/>
        <add namespace="OpenRasta"/>
        <add namespace="System.ServiceModel.Syndication"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.rastahook" type="OpenRasta.Hosting.AspNet.OpenRastaHandler, OpenRasta.Hosting.AspNet"/>
    </httpHandlers>
    <httpModules>
      <add name="OpenRastaModule" type="OpenRasta.Hosting.AspNet.OpenRastaModule, OpenRasta.Hosting.AspNet"/>
    </httpModules>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="OpenRastaModule" type="OpenRasta.Hosting.AspNet.OpenRastaModule, OpenRasta.Hosting.AspNet"/>
    </modules>
    <handlers>
      <add name="OpenRastaHandler" verb="*" path="*.rastahook" type="OpenRasta.Hosting.AspNet.OpenRastaHandler, OpenRasta.Hosting.AspNet"/>
    </handlers>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="openrasta" switchName="OpenRasta">
        <listeners>
          <add name="ErrorEventLog"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="OpenRasta" value="All"/>
    </switches>
    <sharedListeners>
      <add name="ErrorEventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="Application"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>